@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    align-items: center;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.178);
}
.L{
    height: 100%;
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 5px;

}
.logo{
    height: 43px;
    width: 51px;
}
.namelogo{
    font-size: 20px;
    font-weight: bold;
}
.M{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    font-size: 14px; 
}
.R{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%; 
    gap: 15px;
}
.t{
    color: rgba(0, 0, 0, 0.664);
    font-weight: 550;
}
.t:hover{
    color: orange;
    font-size: 14.5px;
}
.btnn1{
display: flex;
 height: 40%;
 width: 33%;
 border: 0.3px solid rgba(0, 0, 0, 0.185);
 align-items: center;
 border-radius: 30px;
 justify-content: center;
 align-items: center;
 font-weight: 450;
 font-size: 13px;
}
.btnn1:hover{
    background-color: rgba(211, 210, 210, 0.541);
}
.btnn2{
    display: flex;
 height: 40%;
 width: 33%;
 background-color: orange;
 border-radius: 30px;
border: 2px solid orange;
 justify-content: center;
 align-items: center;
 color: white;
 font-weight: 450;
 font-size: 13px;
}

.nom11{
    min-height: 20%;
    width: 100%;
    
}
.text1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 25%;
    background-color: rgba(179, 179, 179, 0.733);
    border-radius: 30px;
    text-align: center;
    gap: 10px;
    flex-direction: row;
    border: 2px solid grey;
}
.point{
    height: 10px;
    width: 10px;
    background-color: orange;
    border-radius: 50%;
}
.A{
    font-size: 14px;
}
.nom12{
    display: flex;
    flex-direction: column;
    min-height: 85%;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    
    
}
.text2{
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
    font-size: 24px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.705);
}
.tex1{
    margin-left: 18px;
}

.tx2{
    margin-left: 4rem;
}
.span{
    font-size: 5.5rem;
    font-weight: 700;
    color: rgb(8, 8, 34);
}
.dec{
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(8, 8, 34);
    border-radius: 10px;
    transform: rotate(-3deg);
    color: white;
}

.boutons{
    display: flex;
    height: 20%;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    display: flex;
    width: 35%;
    height: 50%;
    background-color: orange;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
    box-shadow: 0 10px 10px 0px rgba(255, 166, 0, 0.212);
    font-size: 16px;
    font-weight: 700;
    color: white;
    transition: transform 0.3s ease;
}
.button:hover{
   transform: scale(1.05);
}
.button22{
    display: flex;
    width: 35%;
    height: 50%;
    border: 1px solid rgb(8, 8, 34);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: rgb(8, 8, 34);
}
.button22:hover{
    background-color: rgb(8, 8, 34);
    color: white;
}

.pic{
    min-height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgesCont{
    height: 75%;
    width: 75%;
    background-color: rgb(8, 41, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*background: linear-gradient(to top,rgba(150, 148, 148, 0.342),white,white,white,white,white,white);*/
}

.img{
    background-color: rgb(89, 36, 143);
    border-radius: 5px;
    transition: transform 0.5s ease;
}
.img:hover{
    transform: scale(1.05);
}
.a{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 4rem;
    height: 90%;
    width: 27%;
    bottom: -4rem;
    box-shadow: 0 15px 80px 1px  rgba(0, 0, 0, 0.63);
}
.ig{
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: rgb(134, 17, 17);
}
.info1{
    position: absolute;
    bottom: 0;
    height: 1%;
    z-index: 222;
    width: 100%;
   background: linear-gradient(to top,rgba(255, 166, 0, 0.699),rgba(255, 166, 0, 0.281),rgba(255, 166, 0, 0.178),rgba(255, 166, 0, 0.171),rgba(255, 166, 0, 0));
}
.c{
    position: relative;
    left: 4rem;
    min-height: 90%;
    width: 27%;
    bottom: -3rem;
box-shadow: 0 15px 80px 1px  rgb(0, 0, 0);
}
.b{
    position: relative;
    bottom: -10px;
    min-height: 95%;
    width: 27%;
    box-shadow: 0 20px 50px 5px  rgba(0, 0, 0, 0.74);
}

.contain1{
    display: flex;
    flex-direction: column;  
    min-height: 85%;
    width: 100%;
    background-color: rgb(226, 226, 226);
}
.ig{
    height: 70%;
    width: 100%;
}
.info1{
    height: 30%;
    width: 100%;
}

.contain11{
    min-height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.grtext{
    font-size: 2;
    height: 55%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2rem;
    font-weight: 700;
}
.ptTex{
    font-size: 2;
    height: 60%;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 18px;
    margin-left: 27px;
    color: rgba(0, 0, 0, 0.479);
}

.contain12{
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    justify-content: space-evenly;
}

.bloc{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 27%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rond{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 2rem;
}
.t1{
    font-size: 23px;
    font-weight: 800;
}
.t2{
    font-size: 18px;
    width: 85%;
    color: rgba(0, 0, 0, 0.637);
}
.t3{
    margin-left: 7.5rem;
}
.contain2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 50%;
    width: 100%;
    background-color: rgb(10, 18, 54);
    color: white;
}
.grT{
    min-height: 35%;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: end;
    font-size: 3rem;
}
.ptT{
    min-height: 21%;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: start;
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.671);

}
.btn{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 44%;
    width: 100%;
}
.btn1{
    height: 35%;
    width: 15%;
    background-color: orange;
    border-radius: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
.TT{
    margin-left: 11rem;
}
.contain111{
    display: flex;
    flex-direction: column;
    min-height: 30%;
    width: 100%;
}
.grT1{
    min-height: 80%;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: end;
    font-size: 2rem;
    font-weight: 800;
}
.ptT1{
    min-height: 20%;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.493);
}
.sizGrid{
    min-height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content:center ;
    align-items: center;
}
.grid1{
    min-height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.drid12{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.bl1{
    height: 95%;
    width: 55%;
    display: flex;
    flex-direction: row;
    background-color: rgba(113, 113, 126, 0.178); 
    border-radius: 15px; 
    gap: 10px;
}
.drt{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    height: 100%;
    width: 85%;
    gap: 10px;
}
.dhaut{
    display: flex;
    height: 30%;
    width: 95%;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
}
.dbas{
    height: 65%;
    width: 90%;
    justify-content: start;
    align-items: center;
    text-align: justify;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.685);
}

.gsh{
height: 100%;
width: 15%;
display: flex;
justify-content: end;
align-items: start;

}
.ron12{
    display: flex;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.507);
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: orange;
}
.bl2{
    height: 95%;
    width: 45%;
    display: flex;
    flex-direction: row;
    background-color: rgba(113, 113, 126, 0.178); 
    border-radius: 15px; 
    gap: 10px;
}
.grid13{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.g{
    height: 90%;
    width: 29%;
    display: flex;
    flex-direction: row;
    background-color: rgba(113, 113, 126, 0.178); 
    border-radius: 15px; 
    gap: 10px;
}
.Q{
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: row;
    background-color: rgba(113, 113, 126, 0.178); 
    border-radius: 15px; 
    gap: 10px;
}
.texcontt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30%;
    width: 100%;
    border-top:2px solid rgb(180, 179, 179) ;

}
.texcontt2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    min-height: 100%;
    width: 90%;
    gap: 20px;
}
.u{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.753);
}
.G{
    font-size:2.5rem;
    font-weight: 900;
}
.contain21{
    display: flex;
    flex-direction: row;
    min-height: 95%;
    width: 90%;
    gap: 25px;
    
}
.pubimg{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 25%;
    gap: 10px;
    box-shadow: 0 0 60px 12px rgba(0, 0, 0, 0.103);
    border-radius: 15px;
}
.iggggg{
    height: 60%;
    width: 100%;
    background-color: grey;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px grey solid;
    box-shadow: 0 0 60px 12px rgba(0, 0, 0, 0.103);
}

.info{
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.uName{
    font-weight: 700;
    font-size: 17px;
    width: 90%;
    height: 15%;
}
.uDescip{
    font-size: 14px;
    font-weight: 300;
    width: 90%;
    height: 50%;
}
.uprix{
    font-weight: 700;
    color: orange;
    width: 90%;
    height: 10%;
}
.btn333{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
}
.btn332{
    height: 100%;
    width: 50%;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: orange;
}

.btn2{
    min-height: 25%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn3{
    text-align: center;
    height: 37%;
    width: 30%;
    background-color: rgb(4, 4, 43);
    border-radius: 30px;
    color: white;
    font-weight: 900;
    border: none;
}
.btn3:hover{
    background-color: orange;
}
.bac{
    display: flex;
    flex-direction: column;
    min-height: 70%;
    width: 100%;
    background-color: rgb(1, 1, 32);
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.Gtr{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.a1{
font-size: 1.5rem;
font-weight: 900;
}
.a2{
color: rgba(255, 255, 255, 0.63);
}

.blocss{
    height:80%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.blocss1{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 187, 0.062);
    border-radius: 10px;
    gap: 2px;
    border: 2px solid rgba(102, 91, 151, 0.089);
}
.haut{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    gap: 5px;
    
}
.R1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rond1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.212);
}
.breuf{
    font-size: 15px;
    font-weight: 900;
    color: white;
}
.pres{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;
}
.name{
    font-weight: 700;
    font-size: 16px;
}
.statu{
    color: orange;
    font-size: 14px;
}
.basTxt{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.514);
    font-size: 13px;
}
.sizTx{
    height: 90%;
    width: 90%;
    text-align: justify;
}

.contain16{
    display: flex;
    flex-direction: column;
    min-height:70%;
    width: 90%;
    gap: 20px;
}
.texhaut{
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    justify-content: end;
    align-items: center;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(3, 3, 43);

}
.boutonss{
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 100%;
    justify-content:center;
    align-items: start;
    gap: 20px;
}
.btn31{
    height: 30%;
    width: 20%;
    background-color: rgb(3, 3, 43);
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    color: white;
}
.btn32{
    height: 30%;
    width: 20%;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    color:  rgb(6, 6, 39);
    border: 2px solid rgb(6, 6, 39);
}
.contain17{
    display: flex;
    min-height:45%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 0.5px solid rgba(218, 218, 218, 0.555);
}
.allcnt{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        gap: 20px;
}
.cnt{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 30%;
    gap: 20px;
}
.cnt3{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    gap: 20px;
}
.title{
font-weight: 800;
font-size: 18px;
}
.Tx{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.555);
}
.Tx22:hover{
    font-size: 14px;
    color: orange;
}

.foot{
    min-height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sitname{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
   width: 60%;
   color: rgba(0, 0, 0, 0.445);
}
.legal{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 30%;
    gap: 10px;
    justify-content: end;
    align-items: center;
    color: rgba(0, 0, 0, 0.445);
}
